#phaser-canvas-tall{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 50%;
    transform: translate(0%, -50%);
}

#phaser-canvas-wide{
    position: absolute;
    height: 75%;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
}

.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    overflow: hidden; /* Hide any overflow content outside the container */
    background-color: #0024; /* Optional background color for the container */
}

.gameContainer img {
    width: 100%;
}