body {
    background-color: black;
}
#phaser-canvas-tall{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 50%;
    transform: translate(0%, -50%);
}

#phaser-canvas-wide{
    position: absolute;
    height: 75%;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
}

.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 100vh; 
    overflow: hidden; 
    background-color: #0024; 
}

/* .gameContainer img {
    width: 100%;
} */