/* Styling for the inventory menu itself */
.inventory-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    margin-top: 3rem;
}

/* Styling for the menu */
.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb( 120, 128, 143, 0.75 );
    box-shadow: 0px 8px 32px 0 rgba( 0, 0, 0, 0.25 );
    backdrop-filter: blur(25px);
    padding: 0px 16px 16px 16px;
    border: none
}

/* Create the grid weapons layout */
.menu ul{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    grid-gap: 15px;
}

/* Style the h1 text  */
.menu h1{
    justify-content: center;
    list-style: none;
    color: #EDEDE3;
    font-weight: 1000;
    letter-spacing: 2px;
    font-family: var( --font-family );
    font-size: 56px;
    margin-bottom: 0;
    margin-top: 5px;
}

/* Style the h2 text  */

.menu h2 {
    margin-bottom: 0;
    color: #EDEDE3;
}

/* Create styling for each individual item */
.item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    margin: 0;
    width: 8rem;
    height: 8rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25px;
    font-family: var( --font-family );
    background-color: #605D58;
    border: none;
    color: #EDEDE3;
}

/* Disabled upgrades will appear as gray, indicating they cannot be clicked */
.disabled-upgrade {
    width: 8rem;
    height: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #61695f;
    color: #EDEDE3;
    border: none;

}

/* Upgrades will appear as green, marked as available */
.upgrade {
    width: 8rem;
    height: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #2DA700;
    color: #EDEDE3;
    border: none;
}

/* Define the location and styling for the upgrade message such as 'Increased Rate of Fire' */
.upgrade-message {
  position: absolute;
  top: 50%; 
  left: 25%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  z-index: 10; 
}

.menu h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #EDEDE3;
}