.frontend__containers__menu {
  position: absolute;
  background-color: rgb( 0, 0, 0 );
  font-family: sans-serif;
  align-items: center;
  display: flex;
  }

  .frontend__containers__menu__info{
    background-color: rgb( 255, 255, 255, 0.7 );
    box-shadow: 0px 0px 32px 5px rgba( 0, 0, 255, 0.3);
    border-radius: 1rem;
    z-index: inherit;
    display: flex;
    justify-content: center;
    margin: 1rem;
    align-items: center;
    position: absolute;
  }

  .frontend__containers__menu__textbox{
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
  }

  .frontend__containers__menu__button {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .custom-button {
    width: 20rem;
    height: 6rem;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #00C137;
    border: none;
    transition: color 0.3s;
  }

  .frontend__containers__menu-closeButton {
    position: absolute;
    top: 0.5%;
    right: 0.2%;
  }

  .close-button{
    width: 1rem;
    height: 2rem;
    border-radius: 5rem;
    background-color: #FF1600;
    border: none;
  }

  .frontend__containers__menu-asteroid {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
  }