.ticker-tape-container {
  overflow: hidden;
  white-space: nowrap;
  position: absolute; /* or 'fixed' */
  bottom: 0; /* Position at bottom */
  left: 0;
  width: 100%;
  z-index: 100; /* Adjust as needed */
}

.ticker-tape-container span {
  position: absolute;
  color: white;
  width: max-content; /* Ensures text width is considered */
}
