.frontend__containers__canvas{
    position: absolute;
    top: 2%;
    left: 10%;
}

.asteroid-tooltipFirst,
.asteroid-tooltipastSecond,
.asteroid-tooltipThird,
.asteroid-tooltipFourth {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
    color: #ffff;
    text-align: center;
    border-radius: 2rem;
    position: absolute;
    transform: translateX( -50% );
    background: rgba( 225, 255, 255, 0.09 );
    backdrop-filter: blur( 25px );
    align-items: center;
    justify-content: center;
}

.asteroid-tooltipFirst {
    transform: translateX(calc(40%)) translateY(60%);
}
.asteroid-tooltipastSecond {
    transform: translateX(calc(-130% - 10px)) translateY(60%);
}

.asteroid-tooltipThird {
    transform: translateX(calc(0% - 40px)) translateY(80%);
}
.asteroid-tooltipFourth {
    transform: translateX(calc(0% - 40px)) translateY(80%);
}

/* Ceres tooltip needs to be float left to avoid going off screen */

.asteroid-info-item {
    margin-bottom: 10px;
    font-family: var( --font-family );
}

.asteroid-info-label {
    margin-bottom: 10px;
    margin-top: 2px;
    font-size: 20px;
    font-family: var( --font-family );
    font-weight: 600;
}

.startGame {
    background-color: #00BE48;
    border: none;
}

#frontend__containers__canvas__init,
#frontend__containers__canvas-ship {
    position: absolute;
}