.solar__system {
    display:block;
    justify-content: center;
    align-items: center;
}

.solar__system__content {
    position: absolute;
}

.solar__system__content-sun {
    z-index: 0;
    background-color: yellow;
    box-shadow: 0px 8px 32px rgba(241, 255, 48, 0.30);
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
}